<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, wclassth=device-wclassth" />
    <title>Apple Rot Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
</head>

<body>
    <div class="container">
        <div class="language-selector">
            <button onclick="showEnglish()">English</button>
            <button onclick="showNepali()">नेपाली</button>
        </div>
        <h1 class="en">Classified Disease: APPLE {{classification}}</h1>
        <h1 class="np">छुट्टाएको रोग: स्याउ सडने रोग</h1>
        <h2 class="en">Introduction</h2>
        <h2 class="np">परिचय</h2>
        <p class="en">
            Apple rot disease, also known as apple fruit rot, is a common fungal infection that affects apple trees and
            their fruit. This disease is primarily caused by various fungi belonging to the genera Botrytis,
            Penicillium, and Alternaria. It typically manifests as brown or black lesions on the surface of the fruit,
            accompanied by a soft, mushy texture and a foul odor as the fruit decays. Apple rot can lead to significant
            economic losses for orchard owners and growers due to reduced fruit quality and yield. Effective management
            strategies, including proper sanitation practices, fungicidal treatments, and timely harvesting, are
            essential for controlling the spread of apple rot disease and maintaining the health of apple orchards.</p>

        <p class="np">

            स्याउ सडने रोग, जो आम रुपमा स्याउ रुखहरू र उनीहरूको फलहरूलाई प्रभावित गर्दछ, एक सामान्य कवकीय संक्रमण हो। यस
            रोगको प्रमुख कारण बोट्रिटिस, पेनिसिलियम, र अल्टर्नारिया जनानाका विभिन्न कवकहरू हुन्छन्। यस प्रकारको रोग
            साधारणतया फलको सतहमा खैरो वा कालो दागहरूको रूपमा देखा पर्दछ, जसका साथै फलको सोस्रो मिश्रित सफ्ट, मुलुको
            बनावट र बुआफ गन्ध सहित असहनीय गन्ध। स्याउ सडने रोगले बगैंचामा र उद्यानकर्ताहरूमा फलको गुणस्तर र उत्पादनमा
            कमी गर्न सक्ने कारणलाई कारण बनाउँछ। उचित सफाई प्रथाहरू, कवकनाशक उपचार, र समयमै फलको लिन्ने सहित स्याउ सडने
            रोगको प्रसार नियन्त्रण गर्ने प्रभावी व्यवस्थापन रणनीतिहरू समेत फलको उद्यानका स्वास्थ्य बनाए राख्न आवश्यक छ।
        </p>
        <h2 class="en">Symptoms</h2>
        <h2 class="np">रोगको लक्षण</h2>
        <p class="en">Apple rot disease, caused by fungal infection, produces unique signs on apple fruit. Initially,
            little brown or black lesions appear on the fruit's surface, usually near wounds or damaged areas. These
            lesions gradually enlarge and deepen, resulting in a soft, mushy quality to the affected fruit flesh. As the
            infection spreads, the fruit may have a bad odor, indicating deterioration. Furthermore, the surrounding
            tissue may become waterlogged or appear sunken. In severe cases, the entire fruit may get moldy, reducing
            its quality and making it unfit for ingestion. These symptoms not only damage the beauty and texture of the
            fruit, but they also cause major economic losses to apple growers and orchard owners.</p>
        <p class="np">
            स्याउ सडने रोग, फ्यूजल संक्रमणद्वारा विशेष लक्षणहरूसहित प्रकट हुन्छ। पहिलोमा, फलको सतहमा सानो खैरो वा कालो
            डालेहरू विकसित हुन्छन, सामान्यतया घाउ वा क्षतिग्रस्त क्षेत्रहरू नजिक। यी डालेहरू धेरै फैलिन्छन र गहिरो
            हुन्छन, जसले प्रभावित फलको मांस तत्वमा एक कोमल, काचो गुणस्तर ल्याउँछ। संक्रमण बढ्दा, फलबाट गंध आउँछ, जुन
            विघटनको संकेत हो। साथै, चारो ऊतक पानीजस्तो बन्द हुन सक्छ वा डुबेको देखिन सक्छ। गम्भीर मामिलामा, पूरा फल
            मोल्डमा आवृत्त हुन सक्छ, जसले यसको गुणस्तरमा कमी ल्याउँछ र यो खाने योग्य बनाउँछ। यी लक्षणहरू फलको
            अप्पेअरेन्स र तन्तुकतामा असर गर्छ र फलका उत्पादक र बागान उद्यमीहरूको लागि मुख्य आर्थिक हानि पनि पुर्याउँछ।
        </p>

        <h2 class="en">Disease Life Cycle</h2>
        <h2 class="np">रोगको जीवनचक्र</h2>
        <p class="en">
            The lifecycle of apple rot disease begins with the introduction of fungal spores onto the surface of apple
            fruit. These spores, originating from various sources such as infected fruit, nearby plants, or soil debris,
            find their way to the fruit and germinate upon landing. They penetrate the fruit through wounds, bruises, or
            natural openings, initiating infection. Inside the fruit, the fungal pathogens start to proliferate, causing
            characteristic symptoms like brown or black lesions, softening of the fruit flesh, and the emission of a
            foul odor. As the infection progresses, the fungi produce more spores, facilitating the spread of the
            disease to nearby healthy fruit or plants. Environmental factors such as humidity and temperature greatly
            influence the disease's development and spread, with warm and humid conditions being particularly favorable
            for fungal growth. Throughout the growing season, infected fruit releases spores into the environment, which
            can infect new fruit or overwinter on plant debris, soil, or nearby trees, serving as a source of infection
            for subsequent growing seasons. Effective management strategies, including sanitation practices and
            fungicidal treatments, are crucial for interrupting the lifecycle of apple rot disease and minimizing its
            impact on apple orchards.</p>
        <p class="np">
            स्याउ सडने रोग को जीवनचक्रले एपल फलको सतहमा फङ्गल स्पोरहरूको परिचयबाट सुरु हुन्छ। यी स्पोरहरू, संक्रमित फल,
            नजिकैका वनस्पतिहरू, वा माटोका अवशेषहरूबाट उत्पन्न हुन्छन्, र फलमा पर्ने छन् र उत्थान गर्ने बाटोमा उत्पन्न
            हुन्छन्। यी स्पोरहरू, फलमा घाउ, भेटे, वा प्राकृतिक खोलहरूवित्र घुस्ने, संक्रमण आरम्भ गर्ने गर्दछन्। फलको
            भित्र, फङ्गल पैथोजनहरू बढ्छन्, जसले भूरा वा कालो छालाहरू, फलको मांससम्म मुलैमा कम भएको, र बदबूको उत्सर्जनको
            उत्सर्जन गर्दछ। संक्रमण बढ्दै गएकोमा, फङ्गल पैथोजनहरू अधिक स्पोरहरू उत्पन्न गर्दछन्, जसले रोगको फैलावट
            नजिकैका स्वस्थ फल वा वनस्पतिहरूमा ल्याउछ। उत्सर्जनमा नामिलेका ठाउँ तथा ताप र नमस्थिति जस्ता आवासीय कारकहरू
            रोगको विकास र फैलावटमा प्रभाव गर्छन्, जसमा गर्म र उम्ला अवस्था विशेष रूपमा फङ्गल विकासको लागि अनुकूल छ।
            बढिवादमा, संक्रमित फल परिवारहरूले पर्याप्त फङ्गल स्पोरहरू उत्सर्जन गर्छन्, जुन नयाँ फल वा अगाडि क्षेत्रहरूमा
            संक्रमण गर्न सक्दछ। एपल रोट रोगको जीवनचक्रलाई बिचारक व्यवस्थापन रणनीतिहरू, संरक्षण प्रथाहरू र समयमै वान्छित
            बोटीहरूले बिचारक बनाउन अत्यन्तै महत्त्वपूर्ण छ।</p>

        <h2 class="en">Disease Management</h2>
        <h2 class="np">रोग व्यवस्थापन</h2>
        <p class="en">
            Effective management of apple rot disease involves a multifaceted approach aimed at preventing its
            occurrence and intervening in a timely manner to minimize its impact on orchards. Key strategies include
            implementing strict sanitation practices to remove infected fruit and plant debris from the orchard
            promptly. This helps reduce the source of fungal spores that can lead to further infections. Additionally,
            applying fungicides during critical stages of fruit development is crucial for controlling fungal growth and
            preventing the spread of the disease. Common fungicides containing active ingredients like captan,
            thiophanate-methyl, or iprodione are often used for this purpose. Regular pruning of apple trees to enhance
            air circulation and sunlight penetration can create less favorable conditions for fungal pathogens, while
            thinning fruit clusters helps prevent overcrowding and reduces the risk of fruit rot. Maintaining weed-free
            orchard floors and using organic mulches can also help prevent soil splash onto fruit, thereby minimizing
            the presence of fungal spores in the orchard environment. These combined efforts contribute to effective
            management of apple rot disease and ensure the health and productivity of orchards.</p>
        <p class="np">
            स्याउ सडने रोगको प्रभावकारी व्यवस्थापनले बागैंचामा यसको देखि न हुँदाका लागि र समयमै बचाउनको लागि एक
            समायोजनात्मक उपायमा लगायत गरिएको छ। मुख्य रणनीतिहरूमा सडिलो सफाई व्यवस्था अम्लिएका फलहरू र पादपहरूलाई तातै
            बागैंचाबाट चित्त गर्नुको लागि छ। यसले अगाडि फैलिएका फ्यूङ्गसका विरूद्ध नाकामा नयाँ स्रोतको कमी गर्दछ। साथै,
            फल विकासका महत्वपूर्ण अवस्थामा ढुसीनाशकहरूको लागि फाइंगीसाइडहरू लागू गर्नु अत्यन्त आवश्यक छ। यसले फ्यूङ्गल
            वृद्धिको नियन्त्रण गर्न र रोगको प्रसार रोक्न गर्दछ। सामान्यतया फ्यूङ्गीसाइडमा प्रयोग गरिने तत्वहरू बिनामूल्य
            नाममा क्याप्टन, थिओफ्यानेट-मेथाइल, वा आइप्रोडिओन हुन्छ। आम रूपमा बागैंचाहरूमा फेलिन्ग कार्य गर्दा वातावरणको
            हवाको चलन र राम्रो सूर्यपेनेट्रेसन सुनिश्चित गर्नका लागि फलवाटाहरूको नियमित काटन निर्धारित गर्नु उपयुक्त
            हुन्छ। साथै, फलहरूका गुच्छहरू घनिष्कार गर्दा बागैंचामा भरिपूर्ण ठाउँहरू नबनाउन र फल सडनको जोखिम कम गर्दछ।
            बागैंचाका ठाउँहरूमा खड्क र झार पर्खाल गर्दा भएको रगतको चपाइ र अन्य साधारण उपायहरू उपयोग गर्न गर्दछ। यसले
            बागैंचामा फ्यूङ्गल विरूद्ध नाकामा नयाँ स्रोतको कमी गर्दछ र रोगको प्रसार रोक्न प्रभावकारी छ।
        </p>

        <h3 class="en">Management Techniques</h3>
        <h3 class="np">व्यवस्थापन तरिकाहरु</h3>

        <p class="en">
        <ol class="en">
            <li><strong>Post-Harvest Handling:</strong> Handle harvested apples with care to prevent bruising or damage,
                as wounded fruit are more susceptible to fungal infection. Store apples in cool, well-ventilated
                environments to slow down ripening and minimize decay.</li>
            <li><strong>Storage Facilities:</strong> Invest in proper storage facilities equipped with temperature and
                humidity controls to extend the shelf life of apples and reduce the risk of rot development during
                storage.</li>
            <li><strong>Cultural Practices:</strong> Adopt cultural practices such as balanced nutrition, proper
                irrigation, and canopy management to promote tree vigor and resilience against diseases like apple rot.
                Healthy, well-nourished trees are better equipped to defend against fungal pathogens.</li>
            <li><strong>Integrated Pest Management (IPM):</strong> Implement an IPM approach that integrates various
                pest and disease control methods, including biological control, habitat manipulation, and monitoring
                techniques, to effectively manage apple rot while minimizing environmental impact.</li>
        </ol>
        </p>

        <p class="np">
        <ol class="np">
            <li><strong>पोष्ट-खरिद हेरवा:</strong> भेटिएका स्याउहरूलाई सावधानीसँग हेर्नुहोस् भ्रूसिङ वा क्षति हुन
                नगर्नुहोस्, किनकी घाईत फलहरू अधिक संक्रामक रुग्णतामा परिभाषित छन्। स्याउहरूलाई शीत, राम्रो-वातावरणमा
                राख्नुहोस् जसले पक्न धीमा गर्दछ र अपचय घट्टिर्न्छ।</li>
            <li><strong>स्टोरेज सुविधा:</strong> अधिक अवधिमा स्याउको अवधिलाई बढाउन र स्टोरेज दरमा रोट विकासको जोखिम कम
                गर्न हावामा तथा ताप र नमता नियन्त्रणसहितका सुविधाहरूमा लगानी गर्नुहोस्।</li>
            <li><strong>सांस्कृतिक प्रथा:</strong> सांस्कृतिक प्रथाहरू अनुसार सन्तुलित पोषण, उपयुक्त सिंचाइ, र छायाको
                प्रबन्धन गर्नुहोस्, जसले स्याउ बल र रुग्ण रोगहरू जस्ता स्याउ सडने रोगहरूबाट सुरक्षित हुन्छन्। स्वस्थ,
                पर्परासित स्याउहरूले फ्यूंगल पैथोजनहरूबाट बचाउन सजिलो हुन्छन्।</li>
            <li><strong> एकीकृत कीट व्यवस्थापन (आईपीएम):</strong>बायोलोजिकल कन्ट्रोल, आवास परिवर्तन, र निगरानी तकनीकहरू
                सहितका विभिन्न कीट र रोग नियन्त्रण विधिहरू एकीकृत रूपमा लागू गर्नुहोस्, जसले स्याउ सडने रोगहरूलाई
                कारगरता सहित व्यवस्थित गर्दछ।</li>
        </ol>
        </p>

        <div class="language-selector">
            <button onclick="showEnglish()">English</button>
            <button onclick="showNepali()">Nepali</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='result.js') }}"></script>
</body>

</html>