<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, wclassth=device-wclassth" />
    <title>Apple Scab Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />

</head>

<body>
    <div class="container">
        <div class="language-selector">
            <button onclick="showEnglish()">English</button>
            <button onclick="showNepali()">नेपाली</button>
        </div>
        <h1 class="en">Classifed Disease: APPLE {{classification}}</h1>
        <h1 class="np">छुट्टाएको रोग: स्याउको दादे रोग</h1>
        <h2 class="en">Introduction</h2>
        <h2 class="np">परिचय</h2>
        <p class="en">Apple scab disease affects various types of plants in any location where it occurs. Characterized
            by
            dark spots resembling mildew on leaves and fruits, this disease is often referred to as scab. It primarily
            affects the main fruit-bearing organs of apples and pears. When infected, leaves fall prematurely, and both
            fruit weight and quality decrease. This disease is caused by the fungus Venturia inaequalis, which falls
            under the class Loculoascomycetes of the Ascomycota phylum, in the order Pleosporales and family
            Venturiaceae.

            The disease spreads during spring to new leaves and fruits, resulting in reduced quality and production.
            Failure to implement control measures from the beginning of the dormant stage can lead to up to 70% yield
            loss. Once infection occurs on fruit and leaf surfaces, subsequent fruit ripening and damage increase,
            weakening the plant and reducing flower bud formation. Therefore, adequate knowledge of the pathogen's
            behavior and infection period is essential for effective management.

            Symptoms of scab disease appear on apple leaves, fruit, flowers, and flower petals upon infection.
            Infections typically begin in the early stages of spring when new leaves emerge. During spring, small
            olive-green lesions are visible on the undersclasse of new leaves. As leaves mature, symptoms become more
            pronounced. The disease progresses rapclassly during the rainy season, leading to severe outbreaks if not
            monitored carefully. Due to its ability to remain dormant until spring, growers must implement proactive
            management practices from the dormant stage onwards.Scab disease poses a severe threat to apple cultivation
            in many countries, prompting the initiation of management practices even before the onset of the spring
            season.</p>

        <p class="np">
            यो रोग स्याउखेती हुने जुनसुकै स्थानमा विशेष गरि रोग सहन नसक्ने सबै जातहरुमा लाग्दछ । पातमा र फलमा दाद जस्तो
            धव्वा हुने भएकोले यो रोगलाई दादे रोग भनिएको हो । स्याउ र नास्पाती यो रोग लाग्ने मुख्य फलफूल बालीहरु हुन । यो
            रोग लागे पछि पात झर्ने, फलको तौल र गुणस्तर दुवै घटन जान्छ । यो रोग Ascomycota, क्लास Loculoascomycetes,
            अर्डर Pleosporales र परिवार Venturiaceae अन्तर्गत पर्ने Venturia inaequalis (Cke) नामक ढुसीबाट लाग्दछ ।
            यो रोगले नयाँ पालुवा, नयाँ हाँगामा समेत आक्रमण गर्दछ, जसले गर्दा गुणस्तर र उत्पादन घटाउँछ । यदि बोटको
            सुषुप्तावस्था को शुरुदेखि नै नियन्त्रण विधि नअपनाएको खण्डमा उत्पादनमा ७०% सम्म क्षति गर्न सक्छ । एकातिर फलमा
            र पातको भेटनुमा संक्रमण भएपछि उत्पादनमा नोक्सान हुन जान्छ भने अर्को तिर पात विग्रने र क्षति पुऱ्याउने हुँदा
            बोट नै कमजोर हुन्छ र फूलका कोपिला बन्ने कार्यमा कमी आउँछ। तसर्थ, यो रोगको जीवाणुको वानी व्यवहार र आक्रमण
            गर्ने समय बारे पर्याप्त थाहा पाउनुपर्ने हुन्छ ।
            स्याउको दादे रोग लागेपछि स्याउका पात, फल, फूल तथा फूलका पत्र, पातको भेटनु, फूलको भेटनुमा दागहरु देखिन्छन ।
            दादे रोगको संक्रमण वसन्त ऋतुको प्रारम्भमा नयाँ पात पलाउने बेला देखि नै शुरु हुन्छ । वसन्त ऋतुमा नै यस्ता
            थोप्ला नयाँ पातको तलपट्टी देखिन्छन । पात ठूला हुँदै जाँदा लक्षण फैलिदै जान्छन । नयाँ पात हुँदा देखिएको यहि
            थोप्लाबाट पछि वर्षायाममा गएर संक्रमण वृद्धि भई ठूलो रुप लिन्छ । यसरी सूक्ष्म रुपमा वसन्त ऋतुमा नै संक्रमण
            शुरु भएको रोगको लक्षण झट्ट हेर्दा नदेखिने भएकाले कृषकहरुलाई याद नहुने र एकैपटक वर्षायाममा आएर संक्रमण चरम
            रुपमा पुगेपछि बल्ल रोगको प्रकोपको अनुभव हुने भएकोले पूर्व सावधानी अपनाई स्याउको सुषुप्तावस्थादेखि नै
            व्यवस्थापन गरिनुपर्दछ। स्याउ खेती गरिने देशहरु सबै देशमा दादेरोग लाई अत्यन्तै गम्भीररुपमा लिएर वसन्त ऋतु
            शुरु नहुँदै यसको व्यवस्थापन गर्न शुरु गर्दछन।
        </p>
        <h2 class="en">Symptoms</h2>
        <h2 class="np">रोगको लक्षण</h2>
        <p class="en">During the spring season, when buds begin to sprout from the branches, apple trees are susceptible
            to apple scab disease. Initially, light green areas slightly darker than usual can be seen on the young
            leaves. Only ten days after this symptom appears, typical scab-like patches are visible. These patches
            increase in size as the disease progresses. On newly formed leaves, small scabs or blotches develop,
            expanding to about one square centimeter. While some lesions are visible on the outer surface of old leaves,
            many may not show any patches or blotches. The affected areas appear sunken, corky, or cracked. Severely
            affected leaves may fall from the tree. Affected leaves usually turn yellow and fall from the tree after
            turning over three times. As a result of intense heat stress, mite infestation, and other factors, the
            leaves become severely damaged over time. Symptoms on the fruit are similar to those on the leaves, with
            small scabs developing into large, corky lesions. Infected fruit may become deformed, cracked, and ruptured,
            allowing entry of other microorganisms and causing fruit to rot and fall prematurely. The symptoms of this
            disease appear the same on both fruit and leaves. In the initial stages on the fruit, the appearance
            resembles water-soaked areas, which quickly turn velvety, resembling an olive green color. As the healthy
            parts of the fruit grow, the shape of the fruit becomes distorted, with healthy areas growing faster and
            causing the fruit to become misshapen. Many severely infected fruits, resembling scabs, dry out and remain
            attached to the ground as immature fruits.</p>
        <p class="np">
            वसन्त ऋतुमा कोपिला बाट पात पलाउँदै गर्दा नै दादे रोग नयाँ मुनामा संक्रमण भईसक्छ । सर्वप्रथम मुना पातमा
            सामान्य भन्दा अलिक हल्का हरियो भाग देखिन्छ सो को १० दिन पछाडी मात्र लक्षणका थोप्लाहरु देखिन्छन । यस बेला
            लक्षण शुरु भए जस्तो भान भएता पनि १० दिन अगावै संक्रमण भईसकेको हुन्छ । पछि यि थोप्लाहरुका आकार वृद्धि हुँदै
            जान्छन।

            नयाँ मुना पातमा विकसित भएको दादको सानो दाग वा धव्वा वृद्धि भएर एक से. मी. परिधिको बन्दछ । कुनै दाग पुराना
            पातका बाहिरी आवरणमा देखिने दागहरु जस्ता हुन्छन भने कुनै पातमा भने धेरै मसिना तथा कुनै पातमा थोप्ला नदेखिने
            पनि हुन्छन । दाग लागेका भागहरु बटारिएका ठिंगुरिएका, चर्केका फुटेका देखिन्छन । अति धेरै प्रभावित पातहरु
            रुखबाट झर्दछन । रोगी पातहरु सामान्यतया एकदेखि तिन पटक गरि लटमा पात झर्ने हुँदा बोट कमजोर हुन्छन । यसका अलावा
            चिसो तापक्रम, किरा फटेंग्रा रोग आदीका कारण रुख सारै प्रकोपित हुन्छन पछि गएर कडा बन्दछन । फलमा देखिने लक्षण
            पनि पातमा जस्तै हुन्छन, दाद भएका धव्वाहरु परिपक्व हुँदै जाँदा जाँदा ठूला र खैरा बन्छन साथै बटारिएका,
            चाउरिएका तथा कडा हुन्छन । यसरी संक्रमित बनेका फल बाङ्गाटिङ्गा बन्ने र चर्कने र फूटने हुन सक्छन जसका कारण
            अन्य जीवाणुहरुको प्रवेश हुन्छ र फलहरु नराम्रो संग प्रभावित भई झर्दछन ।

            यो रोगको लक्षण फलमा र पातमा एकै किसिमको देखिन्छ । फलमा शुरुको लक्षणमा पानीले भिजेको जस्तो देखिन्छ पछि छिटै
            मखमल जस्तो संरचना बनेर जैतुन खैरो रङ्गमा बदलिन्छ । परिपक्व नभएको सानो अवस्थाको फलको त आकार नै वाङ्गिन्छ तर
            स्वस्थ भागको तन्तुहरु वृद्धि भैरहने हुँदा फलको आकार असन्तुलित बन्छ। धेरै नै संकमित फलहरु दाद जस्तो देखिने
            धव्वाहरु केही खुम्चिएका भई परिपक्व नबन्दै भुइँमा खस्दछन् ।</p>

        <h2 class="en">Disease Life Cycle</h2>
        <h2 class="np">रोगको जीवनचक्र</h2>
        <p class="en">The microorganism Venturia inaequalis primarily spreads in the soil, forming small black,
            compact pseudothecia (ascospore pods) on decayed leaves and wood. The propagation and spread of the disease
            occur through two types of reproduction: sexual and asexual. Sexual reproduction occurs once a year, with
            ascospores released from mature pseudothecia pods serving as the primary source of infection. The severity
            of the disease and the extent of leaf infection in the previous season, along with the weather conditions
            during the dormant period, determine the quantity of ascospores produced. In areas prone to mild (:
            temperate) climates, primary infections from sexual reproduction originate from mature pseudothecia, which
            harbor the initial source of ascospores. Regardless of other factors, the primary source of infection for
            apple scab disease in all affected areas is ascospores from sexual reproduction. This plays a significant
            role in spreading the epclassemic. The life cycle of apple scab disease is elaborated in detail in Figure 9.
            As
            the spring season begins and temperatures rise, and the amount of water on apple leaves and green shoots
            decreases, the fungal pseudothecia mature. The first round of ascospores typically emerges from mature
            pseudothecia pods during the "green tip" stage, coincclassing with the period when apple buds start to
            blossom.
            Ascospores from the pseudothecia pods are forcibly discharged and deposited on decaying wood and leaf
            surfaces. At this point, they become airborne and spread elsewhere. Once the ascospores land on apple
            leaves, the infection process begins, involving spore germination, penetration, and hyphal growth. However,
            for the infection process to be completed, the temperature must remain above freezing and the leaf surface
            must be wet. Thus, the availability of temperature and moisture on the leaf surface plays a crucial role in
            determining the duration of infection. The longer the availability of moisture on the leaf surface, the
            greater the effectiveness of the infection. Based on the age of the leaf, temperature, and relative
            humclassity, specific conditions favor spore germination, beginning infection within 9-21 days, leading to
            the
            development of velvety olive-colored lesions.</p>
        <p class="np">
            यो रोगको जीवाणु Venturia inaequalis ले प्रायः भूँइमा खसेका मरेका पातहरु, मरेका काठ मुढामा रहेर कालो सानो
            सूक्ष्म फ्लास्क बनाए जस्तो बीजाणु पोका (Pseudothecia) को रुपमा जाडो याम विताउँछ। स्याउ लगाईने विश्वका सबैजसो
            भागहरुमा स्याउको दादे रोग प्रकोप अघिल्लो सिजनमा भूँईमा झरेका पातमा रहेका जीवाणुको वीउ श्रोत (Ascospore) बाट
            शुरु हुन्छ । जीवाणुको प्रजनन र फैलावट दुई किसिमबाट हुन्छ लैङ्गिक तथा अलैङ्गिक प्रजनन। लैङ्गिक प्रजनन वर्षमा
            एक पटक हुन्छ लैङ्गिक प्रजननबाट हुने श्रोत बीउ ( Ascospore) को परिमाण कति छ भन्ने कुरा वगैंचामा अघिल्लो पटक
            रोगको प्रकोप कति धेरै थियो, रोगी पात कति खसेका थिए अनि गत जाडोको याममा मौसम कस्तो थियो भन्ने कुरामा भर पर्दछ
            । हल्का (: षम) जाडो याम हुने यस्ता क्षेत्रमा अलैङ्गिक प्रजननबाट आउने प्राथमिक वीज (कोनिडिया ऋयलष्मष्ब) ले
            मुढा काठ तथा पात तथा फूलको कोपिला आउने कत्लामा आश्रय लिएर जाडो याम विताउँछ । अरु जे भएतापनि स्याउको दादे
            रोगको समस्या हुने सबैजसो स्याउ क्षेत्रमा लैङ्गिक प्रजनन बाट आउने वीज (Ascoporic) नै मूख्य संक्रमणको श्रोत हो
            यसले नै महामारी ल्याउन ठूलो भूमिका खेल्दछ। स्याउको दादे रोगको जीवनचक्र चित्र नं. ९ मा विस्तृत रुपमा दिइएको
            छ। वसन्त ऋतु शुरु हुनु अगावै तापक्रम वढदै गएको बेलामा र स्याउको हरिया तथा खसेका पातमा पानीको चिस्यान (शीत)
            मात्रा घट बढ हुँदै गर्दा रोगको जीवाणुको पोको ( Pseudothecia ) परिपक्व बन्छ । पहिलो संक्रमण यहि
            (Pseudothecia) को पोकाबाट निःसृत भएको वीज (ascospores) बाट नै हुन्छ । सामान्यतया पहिलो वीज (ascospores)
            स्याउको कोपिलाको हरियो टुप्पो निस्कन लागेको अवस्था ( Green tip) मा निःसृत हुन्छ । रोगका जीवाणुका यि वीजहरु
            (ascospores) आठदेखि १२ हप्ताको अवधिमा निःसृत (Release) हुन्छन् जुन बेला मध्य फूल फूल्ने अवस्था भएको हुन्छ।
            जीवाणु (Pseudothecia) को पोका बाट वीज (ascospores) हरु अनिवार्य रुपमा फूटेर पोखिन्छन र भूँइमा खसे का
            पातहरुमा पर्दछ यसबेला यिनीहरु हावाका माध्यमले पनि अन्यत्र फैलिन्छन । जब जीवाणु वीज (ascospores) हरु स्याउको
            पातमा खस्दछन । अनि संक्रमण प्रक्रिया (पातका तन्तुमा स्पोर उम्रने, छेड्ने, वथान बनाउने कार्य) शुरु हुन्छ, तर
            संक्रमण प्रक्रिया पुरा हुनका लागि हावाको तापक्रम शुन्य डिग्री सेल्सियस माथि र पातको सतहमा पानीको पातलो तह
            भने हुनै पर्दछ। यस प्रकार तापक्रम र पातमा पानीको तहको उपलब्ध हुने अवधिमा भर पर्दछ । जति लामो अवधिसम्म पातमा
            पानीको तहको उपलब्ध हुन्छ त्यति नै संक्रमणको प्रभावकारिता बढी हुन्छ । पातको उमेर तापक्रम र सापेक्षिक
            आर्द्रताका आधारमा खास गरी स्पोर उम्रिन शुरु भएको ९ - २१ दिनमा संक्रमण भएको स्थानमा जैतुन रङ्गको मखमल आकारका
            दाग बन्न पुग्छन</p>

        <h2 class="en">Disease Management</h2>
        <h2 class="np">रोग व्यवस्थापन</h2>
        <p class="en">Management of apple scab typically involves a combination of cultural, chemical, and
            biological control
            methods. These may include removing infected leaves and fruit from the orchard, pruning to increase air
            circulation, applying fungicclasses at appropriate times during the growing season, and planting resistant
            apple varieties.</p>
        <p class="np">
            दादे रोगको व्यवस्थापन भन्नाले मुख्यतः पहिलो पटक देखिने वीज (Ascospores) बाट हुने संक्रमणबाट बचाउनु नै मुख्य
            ध्येय हो । किनकी स्याउ फूल्नु अगाडी आउने यस्ता वीज (ब्कअयकउयचभक) बाट शुरुमै संक्रमण भएमा फल लाग्न कमी आउँछ
            साथै त्यसपछिका संक्रमणहरु हुन गई सिजन भरी नै संक्रमण वीजहरु फैलिन्छन । वसन्त ऋतुमा निःसृत हुने यि वीज
            (ब्कअयकउयचभक) का विरुद्ध ढुसीनाशक विषादीहरु छर्नका लागि एकदमै समयको तालमेल मिलाउनुपर्दछ खास गरी कोपिला
            निस्कनु र फूलका पत्रदल खस्ने बेलाको बीचमा ढुसीनाशक विषादी छर्नुपर्दछ ।
            परिपक्व भएका बोटका तन्तुहरु केही रोग सहन सक्ने क्षमता भएका हुन्छन । यदि शीत र सापेक्षिक आर्द्रता बढी भएको
            स्थिति छैन रोग सहन नसक्ने जातका बोट छैनन, र रोगको दवाव बढी छैन भने दादे रोगका लागि लक्षित गरिएका विषादी
            छर्ने कार्य कम गर्दै लैजानुपर्दछ अथवा विषादीहरु बन्द नै गरिनुपर्दछ । किनभने पछिल्लो सिजन वर्षायाम तिर अन्य
            धेरै रोग लाग्न सक्ने भएकोले अरु रोगहरु विरुद्ध पनि विषादी छरिन्छ त्यस बेला दोश्रो पटक पैदा भएका दादेरोगका
            जीवाणुहरु पनि मर्दछन । रोगको मात्रा समय वर्षैपिच्छे घटबढ हुन सक्छ तसर्थ विषादीको प्रकृति तथा रोगको मात्रा र
            वातावरणीय स्थिति बुझेर प्रयोग गरिनुपर्दछ ।
        </p>

        <h3 class="en">Management Techniques</h3>
        <h3 class="np">व्यवस्थापन तरिकाहरु</h3>

        <p class="en">
        <ol class="en">
            <li>If there are plant species that can tolerate the disease, they should be used extensively, planting new
                varieties that are resistant to the disease.</li>
            <li>Trim the leaves with scab lesions at the base of the tree, removing any remaining ones, as these leaves
                will be a source of spores the following spring.</li>
            <li>To bury infected soil and prevent water from running off into the ground during the rainy season, remove
                the soil from under the tree to a depth of 3-6 inches and compost or dispose of it, leaving only a small
                amount of soil near the tree base.</li>
            <li>Proper sanitation is extremely important and necessary for controlling scab disease, especially in the
                previous season's leaves, which should not be left on the ground.</li>
            <li>Scab-infected leaves should be quickly removed from apple orchards in early spring. For this purpose,
                spraying with 5% urea solution should be done first so that the infected leaves fall off quickly. After
                leaf fall, urea should also be sprayed on the fallen leaves. Alternatively, all leaves should be
                collected, crushed into pieces, and then mixed in one place, and when mixed with EM and Trichoderma
                solution, the mixture should be sprayed on the soil, which will quickly decompose the soil. Other
                measures may also be taken, such as burning infected leaves, which will destroy the fungal spores.
                However, regardless of the measures taken, the fungal spores of the disease will be destroyed when the
                infected leaves are burned. Whatever happens, the seeds of the disease cannot infect in the coming
                season.</li>
            <li>Scientifically remove the scab-affected shoots by pruning, which will help in the aerial spread of
                spores.</li>
            <li>Based on the above-mentioned measures, choose the appropriate fungicclasses for the growth stage of the
                bud and use them judiciously. By understanding the life cycle of the disease properly and
                self-assessing, fungicclasses should be used from the initial stage of lesion formation (low stage) to
                the appropriate stage of lesion formation (high stage).</li>
            <li>In the early stages of apple growth and development, the following fungicclasses should be applied
                regularly:</li>
        </ol>
        </p>


        <p class="np">
        <ol class="np">
            <li>यदि रोग सहन सक्ने जातहरु छन भने तिनको उपयोग गर्दै जानुपर्दछ विस्तारै नयाँ बोट हुर्काउँदै गर्ने
                ।</li>
            <li>रुखका तल पट्टी खसेका पातहरु एउटा पनि बाँकी नराखि हटाउने यिनै पातले गर्दा अर्को वर्ष वसन्तमा
                ढुसीको
                स्पोरहरु यि पात बाट निस्कन्छन र जीवाणु वीजको श्रोतहरु बन्छन ।</li>
            <li>ढुसीबाट संक्रमित माटो छोप्न तथा वर्षाको पानी भुँईमा परेर उछिट्टीएर नजाओस भन्नाका लागि रुखको तल
                को माटो
                छोपिने गरि भुईमा ३ - ६ ईन्च वाक्लो गरि कम्पोस्ट वा गोठेमल छर्ने तर रुखको फेद भन्दा अलिक परै मात्र छर्ने
                ।</li>
            <li>दादे रोग नियन्त्रणका लागि सरसफाई अत्यन्तै महत्वपूर्ण र जरुरी अस्त्र हो खास गरि अघिल्लो सिजनका
                हाँगा, पात
                पतिंगर वगैंचामा रहन दिन हुदैन ।</li>
            <li>स्याउ बगैचामा अघिल्लो सिजनका संक्रमित पात पतिंगर तुरुन्तै कुहाउन हाल्नुपर्दछ । यसका लागि पात
                झर्नु पहिले
                ५% युरीया स्प्रे गरिदिने ता कि रोगीपातहरु छिटै कुहिएर जाउन । पात झरीसकेपछि पनि खसेका पात माथि युरीया
                छरिदिने। अथवा सबै पात सोहोरेर मसिनो बनाएर टुका पारेर एकै ठाउँमा जम्मा गरि ई. एम. र ट्राईकोडर्माको झोल
                छर्किदिएर
                माटोमा मिलाईदिदा छिटो कुहिएर माटोमा मिल्दछ । अरु केही उपाय नभए यस्ता रोगी पात जलाईदिदा पनि रोगको
                स्पोरहरु नष्ट हुन्छन । जे जसरी हुन्छ रोगका वीजहरु आउदो सिजनमा संक्रमण गर्न नसकुन । </li>
            <li>स्याउको बोट वैज्ञानिक तरिकाले काँटछाँट गरेर क्यानोपी भित्र हावाको संचार हुने बनाईनुपर्दछ ।</li>
            <li>माथि उल्लेख गरिए अनुसारका उपायका साथमा बोटको वृद्धि अवस्था अनुरुप ढुसीनाशक विषादीहरुको उपयुक्त
                छनौट गरि
                विवेक पूर्वक प्रयोग गरिएमा मात्र दादे रोग नियन्त्रण गर्न सकिन्छ ।</li>
            <li>मथि उल्लेख गरिए अनुसार रोगको जीवन चक्र राम्रोसंग बुझेर आत्मसात गरेर कोपिला बन्ने प्रारम्भिक
                अवस्था (निम्न)
                अवस्थादेखि नै ढुसीनाशक विषादीको प्रयोग गरिनुपर्दछ ।</li>
        </ol>
        </p>

        <div class="language-selector">
            <button onclick="showEnglish()">English</button>
            <button onclick="showNepali()">नेपाली</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='result.js') }}"></script>
</body>

</html>